<h1>Edit the existing articles</h1>

<% if @article.errors.any?%>
<h2>Following errors prevented you to create the articles </h2>
  <ul>
  <% @article.errors.full_messages.each do|msg| %>
    <li><%=msg %></li>
    <% end %>
  </ul>
<%end%>

<%= form_for @article do |f| %> 
  <p>
  <%=  f.label :title %> <br>
  <%=  f.text_field :title %>
  </p>
  <p>
  <%= f.label :description%> <br>
  <%= f. text_area :description %>
  </p>
  <%= f.submit%>
  <% end %>

<p>
  <%= link_to "Back to HOME", articles_path%>
</p>
